<div class="wrapper">
  <div class="hood">
    <h2>Student {{ _chosenStudent ? "Update" : "Registration" }}</h2>
    <button mat-button color="primary" (click)="onCancel.emit()">Cancel</button>
  </div>

  <div class="stepper">
    <app-stepper
      [currentStep]="currentStep"
      (stepChange)="onStepChange($event)"
      [steps]="steps"
    ></app-stepper>

    <ng-container [ngSwitch]="currentStep">
      <app-student-form-general *ngSwitchCase="0"></app-student-form-general>
      <app-student-form-address *ngSwitchCase="1"></app-student-form-address>
      <app-student-form-grades *ngSwitchCase="2"></app-student-form-grades>
    </ng-container>
  </div>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      *ngIf="currentStep === 2"
    >
      {{ _chosenStudent ? "Update" : "Register" }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onNextStep()"
      *ngIf="currentStep !== 2"
    >
      Next
    </button>
  </div>
</div>
