<div class="wrapper">
  <div class="hood">
    <h2>Student {{ _chosenStudent ? "Update" : "Registration" }}</h2>
    <button mat-button color="primary" (click)="onCancel.emit()">Cancel</button>
  </div>
  <form [formGroup]="form">
    <div class="general" [formGroup]="generalGroup">
      <h4 class="form-title">General Information</h4>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <app-error-messages [control]="name"></app-error-messages>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>last name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
          <app-error-messages [control]="lastName"></app-error-messages>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>sex</mat-label>
            <input matInput formControlName="sex" />
          </mat-form-field>
          <app-error-messages [control]="sex"></app-error-messages>
        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>age</mat-label>
            <input matInput formControlName="age" />
          </mat-form-field>
          <app-error-messages [control]="age"></app-error-messages>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Personal number</mat-label>
            <input matInput formControlName="personalNumber" />
          </mat-form-field>
          <app-error-messages [control]="personalNumber"></app-error-messages>
        </div>
      </div>
    </div>
    <div class="address" [formGroup]="addressGroup">
      <div class="legal" [formGroup]="legalGroup">
        <h4 class="form-title">Legal address</h4>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>country</mat-label>
              <input matInput formControlName="country" />
            </mat-form-field>
            <app-error-messages [control]="legalCountry"></app-error-messages>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Country in english</mat-label>
              <input matInput formControlName="countryEng" />
            </mat-form-field>
            <app-error-messages
              [control]="legalCountryEng"
            ></app-error-messages>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>full address</mat-label>
              <input matInput formControlName="full" />
            </mat-form-field>
            <app-error-messages [control]="legalFull"></app-error-messages>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>full address in english</mat-label>
              <input matInput formControlName="fullEng" />
            </mat-form-field>
            <app-error-messages [control]="legalFullEng"></app-error-messages>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="actualSameAsLegal"
            >Actual same as Legal</mat-checkbox
          >
        </div>
      </div>
      <div
        class="actual"
        [formGroup]="actualGroup"
        *ngIf="showActualAddressGroup$ | async"
      >
        <h4 class="form-title">Actual address</h4>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>country</mat-label>
              <input matInput formControlName="country" />
            </mat-form-field>
            <app-error-messages [control]="actualCountry"></app-error-messages>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Country in english</mat-label>
              <input matInput formControlName="countryEng" />
            </mat-form-field>
            <app-error-messages
              [control]="actualCountryEng"
            ></app-error-messages>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>full address</mat-label>
              <input matInput formControlName="full" />
            </mat-form-field>
            <app-error-messages [control]="actualFull"></app-error-messages>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>full address in english</mat-label>
              <input matInput formControlName="fullEng" />
            </mat-form-field>
            <app-error-messages [control]="actualFullEng"></app-error-messages>
          </div>
        </div>
      </div>
    </div>
    <div class="grades" [formGroup]="gradesGroup">
      <h4 class="form-title">Grades</h4>

      <ng-template
        #gradeChooser
        let-gradeControl="gradeControl"
        let-label="label"
      >
        <mat-form-field appearance="fill">
          <mat-label>{{ label }}</mat-label>
          <mat-select [formControl]="gradeControl">
            <mat-option *ngFor="let grade of gradesCatalog" [value]="grade">
              {{ grade }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-error-messages [control]="gradeControl"></app-error-messages>
      </ng-template>

      <div class="row">
        <div class="col">
          <ng-container
            *ngTemplateOutlet="
              gradeChooser;
              context: { gradeControl: math, label: 'Math' }
            "
          ></ng-container>
        </div>
        <div class="col">
          <ng-container
            *ngTemplateOutlet="
              gradeChooser;
              context: { gradeControl: history, label: 'History' }
            "
          ></ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ng-container
            *ngTemplateOutlet="
              gradeChooser;
              context: { gradeControl: arts, label: 'Arts' }
            "
          ></ng-container>
        </div>
        <div class="col">
          <ng-container
            *ngTemplateOutlet="
              gradeChooser;
              context: { gradeControl: english, label: 'English' }
            "
          ></ng-container>
        </div>
      </div>
      <div class="row" *ngIf="showScienceControl$ | async">
        <div class="col">
          <ng-container
            *ngTemplateOutlet="
              gradeChooser;
              context: { gradeControl: science, label: 'Science' }
            "
          ></ng-container>
        </div>
      </div>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        {{ _chosenStudent ? "Update" : "Register" }}
      </button>
    </div>
  </form>
</div>
