.wrapper {
  padding: 10px 30px;
}

.hood {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

app-student-form {
  display: block;
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}
