<div class="wrapper">
  <div class="hood">
    <h1>Students page</h1>
    <button mat-raised-button color="primary" (click)="registrationMode = true">
      Add user
    </button>
  </div>

  <div class="students-list">
    <h2>Registered Students</h2>
    <app-students-list
      [students]="(students$ | async)!"
      (onEdit)="selectedStudent = $event"
      (onDelete)="deleteStudent($event)"
    ></app-students-list>
  </div>

  <app-student-form
    *ngIf="registrationMode || selectedStudent"
    [chosenStudent]="selectedStudent"
    (onCancel)="onCloseForm()"
    (update)="updateStudent($event)"
    (register)="registerStudent($event)"
  ></app-student-form>
</div>
